@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #e6ccff;
}

::-webkit-scrollbar {
  display: hidden;
}

